<HTML>
<BODY bgcolor="green">
<form method="POST" action="">
    <center>
    <H1>Add New Sentence </H1> <br>
    Sentence ID <input type = "text" name = "sentID" /> <br>
    Sentence <input type = "text" name= "the_sentence" /> <br>
    <input type="hidden" name="form_type" value="add_sentence"/>
    <input type = "submit">
    </center>
</form>

<form method="POST" action="">
    <center>
    <H1>View Sentence </H1> <br>
    Sentence ID <input type = "text" name= "sentID" /> <br>
    <input type="hidden" name="form_type" value="view_sentence"/>
    <input type = "submit">
    </center>
</form>

</BODY>
</HTML>
